<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aktivacija naloga</title>
</head>
<style>
    p {
        margin: 0;
    }
    .content {
        margin: 48px 0;
    }
    .text {
        margin: 32px 0;
    }
   
</style>
<body>
    <div style="font-family: Arial, sans-serif; color: #333;">
        <div class="content">
            <h2 style="text-align: center;">Dobrodošli u PipeMont aplikaciju!</h2>
            <div class="text">
                <p style="text-align: center; font-size: 14px">Zdravo {{userName}}. Molimo vas aktivirajte nalog koristeći ovaj kod:</p>
                <p style="font-size: 14px; font-weight: bold; color: #4CAF50; text-align: center;margin-top: 4px;">{{token}}</p>
            </div>
        </div>
    </div>
    
</body>
</html>